attrs>=19.3.0
blosc>=1.8.3; sys_platform != 'win32'
Click>=7.1.2
Flask>=1.1.2
Flask-Cors>=3.0.8
gunicorn>=20.0.4
h2==3.2.0
Jinja2>=2.10.3
MarkupSafe>=1.1.1
msgpack==1.0.0
numpy<=1.18.1
opencv-python>=4.1.2.30
Pillow==6.0.0
Quart<=0.10.0
Quart-CORS<=0.2.0
requests>=2.22.0
six>=1.13.0
toml>=0.10.0
trio>=0.13.0
urllib3>=1.25.7
uvicorn<=0.11.5
uvloop>=0.14.0; sys_platform != 'win32'
Werkzeug>=0.15.0
httpx==0.13.3
hypercorn>=0.5.4
grpcio==1.27.2
protobuf>=3.10.0
boto3>=1.9.66
pyyaml>=5.1
fuzzywuzzy
GPUtil
tqdm
pyngrok
python-Levenshtein