a.external-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0[↪]";
}

a.internal-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0↪";
}

/* Give space to lower icons so Gitter chat doesn't get on top of them */
.md-footer-meta {
    padding-bottom: 2em;
}

<<<<<<< HEAD
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
=======
.md-header-nav__button.md-logo img{
    height: 35px;
    width: 50px;
    margin-top: -5px;
}

a {
    color: #00bcd4 !important;
}

.md-header[data-md-state=shadow]{
    box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.2) !important;
    transition: color 250ms,background-color 250ms,box-shadow 250ms !important;
}
>>>>>>> 9733a0261b583b2283ceecbeb412badd74c53f0c
